<h1 class="mat-display-1;" style="text-align: center;  margin-top: 1%;">Staff</h1>
<mat-divider></mat-divider>
<br><br>
<div style="float: left; margin-left: 1%; font-size: large; width: 35%">

  <mat-label style="margin-left: 10%">Add staff</mat-label>

  <form (ngSubmit)="addStaff()" [formGroup]="form" style="padding-left: 25px;">

    <mat-form-field>
      <mat-label for="name">Name:</mat-label>
      <input [formControl]="$any(form).controls.name" matInput name="name"
             placeholder="name">
      <mat-error *ngIf="form.controls.name.touched && form.controls.name.errors?.required">
        This field can't be empty!
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label for="surname">Surname:</mat-label>
      <input [formControl]="$any(form).controls.surname" matInput name="surname"
             placeholder="surname">
      <mat-error *ngIf="form.controls.surname.touched && form.controls.surname.errors?.required">
        This field can't be empty!
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label for="email">Email:</mat-label>
      <input [formControl]="$any(form).controls.email" matInput name="email"
             placeholder="email">
      <mat-error
        *ngIf="form.controls.email.touched && form.controls.email.errors?.required && form.controls.email.errors?.email">
        This field can't be empty!
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label for="faculty">Faculty:</mat-label>
      <mat-select [formControl]="$any(form).controls.faculty" name="faculty">
        <mat-option (onSelectionChange)="getLectures(faculty.lectures)" *ngFor="let faculty of facultyList"
                    [value]="faculty.id">
          {{faculty.name}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="form.controls.faculty.touched && form.controls.faculty.errors?.required">
        This field can't be empty!
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label for="lectures">Lectures:</mat-label>
      <mat-select [formControl]="$any(form).controls.lectures" multiple name="lectures">
        <mat-option *ngFor="let lecture of lectureList" [value]="lecture.id">
          {{lecture.name}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="form.controls.lectures.touched && form.controls.lectures.errors?.required">
        This field can't be empty!
      </mat-error>
    </mat-form-field>

    <br>
    <button [disabled]="!form.valid" mat-raised-button style="margin-left: 30px" type="submit">Add staff
    </button>
  </form>

  <br><br><br><br>

  <div [hidden]="this.isHidden">

    <mat-label style="margin-left: 10%">Update staff</mat-label>

    <form (ngSubmit)="editStaff()" [formGroup]="formEdit" style="padding-left: 25px;">

      <mat-form-field>
        <mat-label for="name">Name:</mat-label>
        <input [formControl]="$any(formEdit).controls.name" matInput name="name"
               placeholder="name">
        <mat-error *ngIf="formEdit.controls.name.touched && formEdit.controls.name.errors?.required">
          This field can't be empty!
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label for="surname">Surname:</mat-label>
        <input [formControl]="$any(formEdit).controls.surname" matInput name="surname"
               placeholder="surname">
        <mat-error *ngIf="formEdit.controls.surname.touched && formEdit.controls.surname.errors?.required">
          This field can't be empty!
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label for="email">Email:</mat-label>
        <input [formControl]="$any(formEdit).controls.email" matInput name="email"
               placeholder="email">
        <mat-error *ngIf="formEdit.controls.email.touched && formEdit.controls.email.errors?.required">
          This field can't be empty!
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label for="faculty">Faculty:</mat-label>
        <mat-select [formControl]="$any(formEdit).controls.faculty" name="faculty">
          <mat-option (onSelectionChange)="getLectures(faculty.lectures)" *ngFor="let faculty of facultyList"
                      [value]="faculty.id">
            {{faculty.name}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="formEdit.controls.faculty.touched && formEdit.controls.faculty.errors?.required">
          This field can't be empty!
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label for="lectures">Lectures:</mat-label>
        <mat-select [formControl]="$any(formEdit).controls.lectures" multiple name="faculty">
          <mat-option *ngFor="let lecture of lectureList" [value]="lecture.id">
            {{lecture.name}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="formEdit.controls.lectures.touched && formEdit.controls.lectures.errors?.required">
          This field can't be empty!
        </mat-error>
      </mat-form-field>
      <br>
      <button [disabled]="!formEdit.valid" mat-raised-button style="margin-left: 30px" type="submit">Update staff
      </button>

    </form>
  </div>

</div>
<div style="width: 50%; height: 50%; float: right; padding-right: 10%; padding-top: 3%">
  <app-table (Click)="editModeOn($event)"
             (Delete)="deleteStaff($event)"
             [columnsToDisplay]="['name', 'surname', 'email', 'delete']"
             [columnsToIterate]="['name', 'surname', 'email']"
             [dataSource]="staffList"></app-table>

</div>

